.title {
  text-align: center;
}
.wrapper {
  height: 100%;
}
.form { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 100%;
  border: 1px solid lightblue;
  padding: 15px;
}
.alertError {
  position: absolute;
  top: -50px;
}