*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #f0f2f5;
}
*::-webkit-scrollbar-thumb {
  background-color: #8f8f8f;
  border-radius: 20px;
  border: 3px solid #f0f2f5;
}
h1 {
  font-size: 22px;
}
.layout {
  height: 100vh;
}
.header {
  background-color: #282c34;
  color: white;
}
.footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: right;
  font-size: 14px;
  color: white;
}

.contentWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}
.content {
  max-width: 680px;
}

